/*@charset "UTF-8";*/

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html > body{
	font-family: 'HSSaemaul-Regular', sans-serif;
	text-underline-position: under;
}

.table-box-type-1 > table{
	width: 100%;
}

.table-box-type-1 > table th, .table-box-type-1 > table td{
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.btn-text-link{
	color: black;
}

.btn-text-link:hover{
	color: red;
	text-decoration: underline;
}

